*.user
*.suo
*.sln.cache
*.pdb
[bB]in/
[oO]bj/
*.vssscc
*.vspscc
*.dbmdl
ClientBin
Generated_Code
[sS]ql
~*
*.Publish.xml
Thumbs.db
Publish
HelpingHandSetup.zip
KinectRedist10.*

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
# NuGet v3's project.json files produces more ignoreable files
*.nuget.props
*.nuget.targets
